<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventSource4Net" version="0.4.0.0" targetFramework="net452" />
  <package id="FSharp.Core.3" version="0.0.2" targetFramework="net452" />
  <package id="FSharp.Data" version="2.2.5" targetFramework="net452" />
  <package id="FSharp.Data.TypeProviders" version="0.0.1" targetFramework="net452" />
  <package id="FSharp.Net.Http" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net452" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net452" />
</packages>